/* colours */
:root {
    --black: #1B1F23;
    --white: #FAFAFA;
    --gray-01: #E1E4E8;
    --gray-02: #959DA5;
    --gray-03: #586069;
    --gray-04: #2F363D;
}

/* dark */

/* typography */

h1 {
    font-family: 'Lora', serif;
    font-size: 36px;    
    font-weight: bold;
    line-height: inherit;
    margin: 0;
}

h1c {
    font-family: 'IBM Plex Sans', serif;
    font-size: 36px;    
    font-weight: 500;
    line-height: inherit;
    margin: 0;
}

h2 {
    font-family: 'IBM Plex Sans';
    font-size: 36px;    
    font-weight: bold;
    line-height: 150%;
    margin: 0;
}
h3 {
    font-family: 'IBM Plex Sans';
    font-size: 18px;    
    font-weight: normal;
    line-height: inherit;
    margin: 0;
}
h4 {
    font-family: 'IBM Plex Sans';
    font-size: 18px;
    font-weight: normal;    
    line-height: inherit;
    margin: 0;
}
h5 {
    font-family: 'IBM Plex Sans';
    font-size: 16px;    
    font-style: normal;
    font-weight: 500;
    line-height: inherit;
    margin: 0;
}
h6 {
    font-family: 'IBM Plex Sans';
    font-size: 14px;    
    font-weight: normal;
    line-height: inherit;
    margin: 0;
}
p, li, featurename {
    font-family: 'Lora';
    font-size: 18px;
    font-weight: normal;
    line-height: 150%;
    margin: 0;
}

.caption {
  font-family: 'IBM Plex Sans';
  font-size: 18px;    
  margin-bottom: 0.75em;
  font-weight: 500;
  line-height: 1.5em;
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
sub { 
  top: 0.4em; 
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.28s;
}

h1::selection, h1c::selection, h2::selection, h3::selection, h4::selection, h5::selection, h6::selection, p::selection, i::selection, sub::selection, sup::selection, featurename::selection, li::selection, a::selection, span::selection, br::selection, strong::selection, img::selection, html::selection, .caption::selection {
    background: rgba(218,138,177,0.1);
}
@media screen and (min-width: 450px) {
    h1 {
        font-size: calc(30px + 32* ((100vw - 320px) / 680));
    }

    h1c {
        font-size: calc(24px + 30 * ((100vw - 320px) / (680)));
    }
    
    h2 {
        font-size: calc(24px + 30 * ((100vw - 320px) / (680)));
    }
    h3 {
        font-size: calc(18px + 18 * ((100vw - 320px) / (680)));
    }
    h4 {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }
    h5 {
        font-size: calc(16px + 4 * ((100vw - 320px) / (680)));
    }
    h6 {
        font-size: calc(14px + 2 * ((100vw - 320px) / (680)));
    }
    p, li, featurename {
        font-size: calc(18px + 6 * ((100vw - 320px) / (680)));
    }

}
@media screen and (min-width: 1000px) {
    h1 {
        font-size: 60px;
    }
    h1c {
        font-size: 42px;
    }
    h2 {
        font-size: 60px;
    }
    h3 {
        font-size: 36px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
    }
    p, li, featurename {
        font-size: 24px;
    }
}
.medium {
    font-weight: 400;
}
.white {
    color: var(--white);
}
.link:hover {
    color: black;
    transition: 1s;
}


/* grid settings */
.grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
}
.c12 {
    grid-column: 2 / 12;
}
.c6 {
    grid-column: 4 / 10;
}
.c6-left {
    grid-column: 1 / 7;
}
.c6-right {
    grid-column: 8 / 12;
}

.c3a {
    grid-column: 2 / 5;
}
.c3b {
    grid-column: 6 / 12;
}

.flex {
    display: flex;
    flex-direction: column;
}

/* image */

.factcontainer {
    width: 100%;
    background-image: url('https://gmedia.playstation.com/is/image/SIEPDC/destiny-2-forsaken-background-block-desktop-01-en-26mar21?$native$');
    background-size: cover;
    padding: 2em;
    color: white;
}

.img {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
}

.smallimg {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 40%;
}

.smallcaseimg {
  height: 200px;
  padding: 0.5em;
}

.caseimg {
  height: 300px;
}

.imgcontainer {
  width: 100%;
  text-align:center;
  align-items: center;
}

.fiveimg {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 1em;
  display: inline-block;
  width: 15%;
  border-radius: 30px;
}

.fiveimg:hover {
  opacity: 50%;
  transition: 0.5s ease;
}

.mobileimg {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}


.appcontainer {
    height: 40em;
}

.appstore {
    width: 60%;
    float: left;
    overflow: auto;
}

.appstoreright {
    width: 60%;
    float: right;
    overflow: auto;
    text-align: right;
}

.appstore video{
    width: 80%;
    height: 40em;
}

.appstoreright video {
    width: 80%;
    height: 40em;
}

.appstore:after, .appstoreright:after {
    content: "";
    clear: both;
    display: table;
}


#phone, #phone2, #phone3, #phone4 {
  width: 48%;
  padding: 2em 0em;
}

.twoimg {
  width: 32%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.showcase {
  text-align: center;
}

/* lightbox */

.lightbox {
  /* Default to hidden */
  display: none;

  /* Overlay entire screen */
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  /* A bit of padding around image */
  padding: 5em;

  /* Translucent background */
  background: rgba(0, 0, 0, 0.8);
}

/* Unhide the lightbox when it's the target */
.lightbox:target {
  display: block;
}

.lightbox span {
  /* Full width and height */
  display: block;
  width: 100%;
  height: 100%;

  /* Size and position background image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* end lightbox */

(prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.yt {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    width: 100%;
    height: 100%;
}

/* all */ 
html {
    color: var(--black);
    background: var(--white);
    overflow-x: hidden;
    margin: 3vw 6vw;
    animation: 1.0s ease-in fade-in;
    scroll-behavior: smooth;
}
img {
    -webkit-user-drag: none;
}
video {
    -webkit-user-drag: none;
}
.section {
    margin-bottom: 3em;
}

.section p{
    font-size: 22px;
}

/* headers */
.hero {
    position: relative;
}
.header {
    display: flex;
    flex-direction: row;
    line-height: 3em;
}
.al-logo {
    height: 3em;
    transition: 1s ease-in-out;
}
.al-logo:hover {
    transform: rotate3d(2, -1, -1, 1turn);
    /* transform: rotate(1800deg); */
    transition: 5.0s linear;
}
.nav {
    line-height: 3em;
}
.option {
    display: inline;
    margin-left: 5vw;
    font-weight: normal;
    color: var(--gray-03);
}
.selected {
    font-weight: 500;
    color: var(--black);
}
.option:hover {
    color: var(--black);
}
.title {
    display: flex;
    flex-direction: row;
}

/* case study */

.summary {
    display: grid;
    grid-template-columns: 100%;
}
.summary-section {
    width: 100%;
    height: auto;
}

.testsummary:after {
    content: "";
    display: table;
    clear: both;
}

.ft-img {
    padding-left: 2em;
    width: 80%;
}

.testft-img {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sectioncolour {
  background-color: yellow;
}

.testsummary-item {
    float: left;
    width: 33.33%;
}

.summary-item {
    margin-bottom: 1.5em;
}

.subtitle {
    margin-bottom: 0.75em;
    text-transform: uppercase;
    color: var(--gray-03);
    font-weight: bold;
}
.divider {
    border-top: 1px solid var(--gray-01);
    margin-bottom: 3em;
}

.divider2 {
    border-top: 1px solid var(--gray-01);
    margin-bottom: 5em;
    margin-top: 1em;
}

/* main */
.main {
    margin-top: 3em;
    margin-bottom: 3em;
}
.content {
    display: grid;
    grid-column-gap: 5vw;
    grid-template-columns: auto;
    grid-row-gap: 10vw;
    grid-template-rows: auto auto auto;
    position: relative;
    margin-top: 3em;
}
.exp {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    border-radius: 1em;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.1);
}
.exp:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.exp h1c {
    line-height: 1.7em;
}

.feature-logo {
    height: 40%;
    z-index: -1;
    margin-bottom: 20%;
}

.feature-product {
    height: 40%;
    z-index: -1;
    margin-bottom: 30%;
}

.exp-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: left;
    z-index: 2;
}

.exp-wrapper {
    position: absolute;
    bottom: 3em;
    width: 80%;
}

.mainlabelcontainer {
    width: 80%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    text-align: center;
}

.mainlabeltag {
    background-color: rgba(250, 250, 250, 0.3);
    font-family: "IBM Plex Sans";
    color: black;
    padding: 0.8em;
    margin-right: 1.5em;
    border-radius: 0.5em;
}

.mainlabeltag-ALT {
    background: linear-gradient(180deg, rgba(255,255,255,.15) 30%, rgba(255,255,255,0) 100%);
    font-family: "IBM Plex Sans";
    color: black;
    padding: 0.8em;
    margin-right: 1.5em;
    border-radius: 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(8, 7, 16, 0.05);
}

.mainlabeltag-ALTD {
    background: linear-gradient(180deg, rgba(255,255,255,.05) 30%, rgba(180,180,180,0) 100%);
    font-family: "IBM Plex Sans";
    color: white;
    padding: 0.8em;
    margin-right: 1.5em;
    border-radius: 0.5em;
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.05);
}

.labelcontainer {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.labeltag {
    background-color: rgba(220, 220, 220, 0.4);
    font-family: "IBM Plex Sans";
    padding: 1em;
    margin-right: 2em;
    border-radius: 0.5em;
}

.v1 {
    display: none;
    z-index: 99;
    position: absolute;
}

.exp-valorant2 {
  background-color: #0f1923; 
  overflow: hidden;
  color: white;
}

.exp-valorant2 .mainlabeltag {
    color: white!important;
}

.exp-valorant2::after {
    content: '';
    transform: translateX(-200%) skew(-10deg);
    top:0;
    left: -10%;
    width: 120%;
    height: 100%;
    background-color: #EB0029;  
    z-index:-1;
}

.exp-valorant2:hover {
    color: white!important;
    transition-delay: 0.1s;
}

.exp-valorant2:hover .v1 {
    display: inline;
    transition-delay: 0.1s;
}

.exp-valorant2:hover .mainlabeltag {
    transition-delay: 0.1s;
    color: white!important;
}

.exp-valorant2:hover::after {
  transform: translateX(-8%) skew(-10deg);
  transition: transform 0.5s ease;
  z-index:1;
}

.exp-valorant {
  background-color: #ff5757;
  overflow: hidden;
}

.exp-valorant::after {
    content: '';
    transform: translateX(-200%) skew(-10deg);
    top:0;
    left: -10%;
    width: 120%;
    height: 100%;
    background-color: #0f1923;
    z-index:-1;
}

.exp-valorant:hover {
    color: white!important;
    transition-delay: 0.1s;
}

.exp-valorant:hover .mainlabeltag {
    transition-delay: 0.1s;
    color: white!important;
}

.exp-valorant:hover::after {
  transform: translateX(-8%) skew(-10deg);
  transition: transform 0.5s ease;
  z-index:1;
}

.exp-hpe {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.exp-hpe::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(200deg,
    #43ea80,
    #7bedba,
    #38f8d4
  );
  transition: transform 0.5s;
  z-index: -1;
}
.exp-hpe:hover::before {
  transform: translateY(-50%);
}


.exp-caco3 {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.exp-caco3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(200deg,
    #90fefb,
    #a9d8e2,
    #cc9fbe,
    #da85af
  );
  transition: transform 0.5s;
  z-index: -1;
}
.exp-caco3:hover::before {
  transform: translateY(-50%);
}

.exp-connect {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.exp-connect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(200deg,
    #e9f0ec,
    #ffbb9e,
    #f64f59
  );
  transition: transform 0.5s;
  z-index: -1;
}
.exp-connect:hover::before {
  transform: translateY(-50%);
}

.exp-tt {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.exp-tt::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(200deg,
    #2af7d2,
    #8ad1ff,
    #9c9cff
  );
  transition: transform 0.5s;
  z-index: -1;
}
.exp-tt:hover::before {
  transform: translateY(-50%);
}


/*
.exp-caco3 {
    background: linear-gradient(200deg, #90fefb 0%, #a9d8e2 33.33%, #cc9fbe 66.67%, #da85af 100%);
    background-size: 100% 100%;
}
*/
.exp-crisis {
    background: #f5efdf;

}

.exp-sow {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.exp-sow::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(190deg, #ffe0c7, #def2fa, #ffe7a1);
  transition: transform 0.5s;
  z-index: -1;
}
.exp-sow:hover::before {
  transform: translateY(-50%);
}


.exp-archive {
    background: #edeeee;
}
.exp-yb {
    background: #223b1b;
}

.exp-nps {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.exp-nps::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(200deg, #ffe28a, #dfedbb, #83dec3);
  transition: transform 0.5s;
  z-index: -1;
}
.exp-nps:hover::before {
  transform: translateY(-50%);
}

/* .exp-ascent {
    background: linear-gradient(200deg, #efb834, #e76438, #e13f3c);
} */

.exp-ascent {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.exp-ascent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 200%;
  background: linear-gradient(200deg, #FDF112, #F5CC4C, #FEA50B, #F57830);
  transition: transform 0.5s;
  z-index: -1;
}
.exp-ascent:hover::before {
  transform: translateY(-50%);
}

/* footer */
footer {
    display: flex;
    margin-top: 3em;
    line-height: 4em;
    color: var(--gray-03);
}

footer p {
    font-size: 20px;
    font-family: 'IBM Plex Sans';
}

footer p a:hover {
    color: var(--black);
}
.social {
    grid-column: 9 / 13;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
}
.icons {
    display: inline-block;
    margin-left: 1.5vw;
    height: 1.5em;
    opacity: 0.45;
    transition: 0.5s;
}
.icons:hover {
    opacity: 1;
    transition: 0.5s;
}


/* info */
.avi {
    margin-left: auto;
    margin-right: auto;
    height: 15em;
    width: 15em;
    margin-top: 0px!important;
}

.avi2 {
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.spacer {
    border-top: 1px solid var(--gray-01);
    margin-bottom: 5em;
    margin-top: 5em;
}

.cardwrapper {
    /*
    width: 100%; 
    margin: 0 auto;
    justify-content: center;
    text-align: center;
*/
    justify-content: center;
    text-align: center;
}

.cardwrapper2 {
    justify-content: left;
    text-align: left;
}

.scene {
    /*
    width: 100%;
    height: 200px;
    */
    perspective: 800px;
}

.card {
    height: 336px;
    width: 240px;
    transition: transform 1s;
    transform-style: preserve-3d;
    display: inline-block;
    margin: 1em;
}

.carda {
    height: 336px;
    width: 240px;
    display: inline-block;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card2 {
    height: 336px;
    width: 240px;
    display: inline-block;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 1em;
}

.card2a {
    height: 336px;
    width: 240px;
    display: inline-block;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card3 {
    height: 336px;
    width: 240px;
    display: inline-block;
    transition: transform 1s;
    transform-style: preserve-3d;
    margin: 1em;
}

.card3a {
    height: 336px;
    width: 240px;
    display: inline-block;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card, .carda, .card2, .card2a, .card3, .card3a:hover {
    cursor: url("assets/cursor.png"), pointer;
}

.card__face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card__face--back {
    transform: rotateY(180deg);
}

.card2__face--back {
    transform: rotateY(180deg);
}

.card3__face--back {
    transform: rotateY(180deg);
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card2.is-flipped {
    transform: rotateY(180deg);
}

.card3.is-flipped {
    transform: rotateY(180deg);
}

/* archive */

.acontainer {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    gap: 2em;
}

.acol {
    display: grid;
    margin: 0 auto;
    width: 100%;
}

.acol1 {
    grid-column: 1 / span 3;
}
.acol2 {
    grid-column: 4 / span 3;
}
.acol3{
    grid-column: 7 / span 3;
}
.acol4 {
    grid-column: 10 / span 3;
}

.acol1and2 {
    grid-column: 1 / span 6;
}

.acol3and4 {
    grid-column: 7 / span 6;
}


/* TEST 

@supports ((background-clip: text) or (-webkit-background-clip: text)) and
  ((text-fill-color: transparent) or (-webkit-text-fill-color: transparent)) {
  .text-gradient {
    background-image: linear-gradient(90deg, #f79533 0%, #f37055 15%, #ef4e7b 30%, #a166ab 44%, #5073b8 58%, #1098ad 72%, #07b39b 86%, #6dba82 100%);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
}

*/

/* gradients */
.keck {
    background: -webkit-linear-gradient(left,  #24d49e 0%, #56b1d1 50%, #9924e0 100%); 
    /* background-image: linear-gradient(45deg, #38a886 0%, #2f98ad 33.33%, #205791 66.67%, #FF41A0 100%); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* mobile fix?? */
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-bottom: 1.5vw;
}

.ava {
    background: linear-gradient(45deg, #FF6868 0%, #f5abc0 33.33%, #65c9a8 66.67%, #FF41A0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-bottom: 1.5vw;
}

.ava:hover{
    cursor: url("https://cdn.discordapp.com/attachments/272131508049805312/788551212772360212/think1.png"), auto;
/*
    background: linear-gradient(45deg, #FF41A0 0%, #65c9a8 33.33%, #f5abc0 66.67%, #FF6868 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.2s;
*/

}

.ava2 {
    background: linear-gradient(45deg, #FF6868 0%, #f5abc0 33.33%, #65c9a8 66.67%, #FF41A0 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    margin-bottom: 1.5vw;
}

.ava2:hover {
    cursor: url("https://cdn.discordapp.com/attachments/272131508049805312/788551214375632906/wink1.png"), auto;
}

.secret:hover {
    cursor: url("assets/cursorlock.png"), auto;
}

.cmc-link {
    color: #98012d;
}

.cdco-link {
    color: #38B8B0;
}

.crisis-link {
    color: #f0a105;
}

.hpe-link {
    color: #00b384;
}

.tduoc-link {
    color: #6869df;
}

.uxif-link {
    color: #FF6F00;
}

.hist-link {
    color: #6e9059;

}

.info1link:hover {
    color: #ff4655;
    transition: 0.3s;
}

.info2link:hover {
    color: #6869df;
    transition: 0.3s;
}

.info3link:hover {
    color: #e38914;
    transition: 0.3s;
}

/* individual case studies */

.case-title {
    color: #0f1923;
    line-height: 2em;
    /*font-family: 'IBM Plex Sans';
    font-weight: 600;*/
    font-weight: 400;
}

.sow-link {
    color: #ed705c;
}

.nps-link {
  color: #046e52;
}

.valorant-link {
    color: #ff4655;
}
.caco3-link {
    color: #da85af;
}
.ascent-link {
    color: #e38914;
}

.yb-link {
    color: #da2a8d;
}

/* other formats */
.content-web {
    display: none;
}
.content-mobile {
    display: inherit;
}

@media screen and (max-width: 1100px) {

  .main-menu, #navbar {
    visibility: hidden;
    display: none;
  }

  h1c {
    visibility: hidden;
  }

  .exp-wrapper h5 {
    visibility: hidden;
  }

  .mainlabelcontainer {
    visibility: hidden;
  }

    .feature-logo {
        height: 40%;
        z-index: -1;
        margin-bottom: 0;
    }

    .feature-product {
        height: 40%;
        z-index: -1;
        margin-bottom: 0;
    }

    .testft-img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .testsummary-item {
    width: 80%;
}

.labelcontainer {
    display: inline-block;
}

.labeltag {
    background-color: rgba(220, 220, 220, 0.4);
    font-family: "IBM Plex Sans";
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.appstore, .appstoreright {
    width: 100%;
    text-align: center;
}

  .c3a {
      grid-column: 4 / 10;
  }
  .c3b {
      grid-column: 4 / 10;
      margin-top: 2em;
  }

  .scene {
      /*
      width: 100%;
      height: 200px;
      */
      perspective: 1000px;
  }
}

@media screen and (max-width: 550px) {
  .main-menu, #navbar {
    visibility: hidden;
    display: none;
  }

  h1c {
    visibility: hidden;
  }

  .exp-wrapper h5 {
    visibility: hidden;
  }

  .mainlabelcontainer {
    visibility: hidden;
  }

    .feature-logo {
        height: 40%;
        z-index: -1;
        margin-bottom: 0;
    }

    .feature-product {
        height: 40%;
        z-index: -1;
        margin-bottom: 0;
    }

    .testft-img {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .testsummary-item {
    width: 80%;
}

.labelcontainer {
    display: inline-block;
}

.labeltag {
    background-color: rgba(220, 220, 220, 0.4);
    font-family: "IBM Plex Sans";
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
}

.appstore, .appstoreright {
    width: 100%;
    text-align: center;
}

  .c3a {
      grid-column: 4 / 10;
  }
  .c3b {
      grid-column: 4 / 10;
      margin-top: 2em;
  }

  .scene {
      /*
      width: 100%;
      height: 200px;
      */
      perspective: 1000px;
  }
}

@media screen and (min-width: 550px) {
    /* GLOBAL */
    html {
        margin: 3vw 0vw;
    }
    .content-web {
        display: inline;
    }
    .content-mobile {
        display: none;
    }
    
    .grid {
        grid-template-columns: repeat(12, minmax(0, 1fr));
    }
    .flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .hero {
        margin-bottom: 3em;
    }
    .header {
        margin-bottom: 1.5em;
        line-height: 3em;
        justify-content: space-between;
    }
    .al-logo {
        margin-right: 1.5em;
        height: 3em;
    }

    .nav {
        margin-left: auto;
        line-height: 3em;
    }
    .option {
        margin-left: 3vw;
    }
    
    .content {
        grid-template-columns: auto auto;
        grid-row-gap: 5vw;
        margin-bottom: 3em;
    }
    
    .photo {
        display: inline;
        margin-right: 1.5vw;
        height: 40vw;
        width: auto;
        border-radius: 0.625vw;

        transition: 0.28s;
    }
    
    .ft-img {
    padding-left: 7em;
    }
}

@media screen and (min-width: 1000px) {
    /* GLOBAL */

    a.textLink {
    border-bottom: 0.125rem dotted;
    display: inline-block;
    line-height: 1.2;
}

    .content-web {
        display: inline;
    }
    
    /* head */
    .selected {
        font-weight: 500;
        color: var(--black);
    }
    
    /* case study */
    .summary {
        grid-template-columns: 50% 50%;
    }
    
    /* info */
    .avi {
        margin-top: auto;
        margin-bottom: auto;
        height: 25em;
        width: 25em;
    }
    
    /* BEGIN STICKY MENU */

    .main-menu {
      position: relative;
      height: 100%;
      top: 33%;
      width:300px;
      float: left;
    }

    nav ul, nav li {
      padding-left: 10%;
      list-style: none;
      font-family: "Lora";
      font-size: 14px;
      line-height: 2em;
    }

    /* Highlight when on Section*/
    .main-menu li:hover>a {
      opacity: 0.5;
    }

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
      position: fixed;
      top: 0;
      height: 100%;
    }

    #navbar {
      height: 100%;
    }

    /* END STICKY MENU */
}

@media screen and (min-width: 1920px) {
    /* GLOBAL */

    a.textLink {
    border-bottom: 0.125rem dotted;
    display: inline-block;
    line-height: 1.2;
}

    .content-web {
        display: inline;
    }
    
    .h1c {
        font-size: 84px;
    }

    .feature-product, .feature-logo {
        height: 48%;
        z-index: -1;
        margin-bottom: 24%;
    }

    /* head */
    .selected {
        font-weight: 500;
        color: var(--black);
    }
    
    .c6-left > p {
        font-size: 28px;
    }

    .icons {
        display: inline-block;
        margin-left: 1.5vw;
        height: 2em;
        opacity: 0.45;
        transition: 0.5s;
    }

    /* case study */
    .summary {
        grid-template-columns: 50% 50%;
    }
    
    /* info */
    .avi {
        margin-top: auto;
        margin-bottom: auto;
        height: 25em;
        width: 25em;
    }
    
    /* BEGIN STICKY MENU */

    .main-menu {
      position: relative;
      height: 100%;
      top: 33%;
      width:300px;
      float: left;
    }

    nav ul, nav li {
      padding-left: 10%;
      list-style: none;
      font-family: "Lora";
      font-size: 14px;
      line-height: 2em;
    }

    /* Highlight when on Section*/
    .main-menu li:hover>a {
      opacity: 0.5;
    }

    /* The sticky class is added to the navbar with JS when it reaches its scroll position */
    .sticky {
      position: fixed;
      top: 0;
      height: 100%;
    }

    #navbar {
      height: 100%;
    }

    /* END STICKY MENU */
}
